In [5]:
import pandas as pd
from src.utils import get_columns_values

In [6]:
df =pd.read_excel('data/Open_Data_Dictionary_CMS__Person_Survey_2019.xlsx', sheet_name='Column Info')
df.head()

,Data Dictionary - Column Information,Unnamed: 1,Unnamed: 2
0,Column Name,Column Description,"Additional Notes \n(where applicable, include ..."
1,hh_id,Household ID,NaN
2,weight,Household-person weight,Refer to the survey's User Guide for additiona...
3,cms_zone,Home CMS zone,"For more information on CMS Survey Zones, clic..."
4,survey_mode,The method in which the survey was taken,"-9998: Missing, non-response\n1: rMove (smartp..."

In [7]:
df.drop(columns=["Unnamed: 1"],axis=1,inplace=True)

In [8]:
df.head()

,Data Dictionary - Column Information,Unnamed: 2
0,Column Name,"Additional Notes \n(where applicable, include ..."
1,hh_id,NaN
2,weight,Refer to the survey's User Guide for additiona...
3,cms_zone,"For more information on CMS Survey Zones, clic..."
4,survey_mode,"-9998: Missing, non-response\n1: rMove (smartp..."

In [9]:
df.rename(columns={"Data Dictionary - Column Information":"Name","Unnamed: 2":"values"},inplace=True)

In [10]:
df.drop(0,inplace=True)

In [11]:
df = df[df["values"].notna()]

In [12]:
df.shape

(140, 2)

In [13]:
df.head()

              Name                                             values
2           weight  Refer to the survey's User Guide for additiona...
3         cms_zone  For more information on CMS Survey Zones, clic...
4      survey_mode  -9998: Missing, non-response\n1: rMove (smartp...
7   is_participant  -9998: Missing, non-response\n0: Not selected\...
20      made_trips  -9998: Missing, non-response\n0: Not selected\...

In [14]:
df

,Name,values
2,weight,Refer to the survey's User Guide for additiona...
3,cms_zone,"For more information on CMS Survey Zones, clic..."
4,survey_mode,"-9998: Missing, non-response\n1: rMove (smartp..."
7,is_participant,"-9998: Missing, non-response\n0: Not selected\..."
20,made_trips,"-9998: Missing, non-response\n0: Not selected\..."
...,...,...
161,disability_walking,"-9998: Missing, non-response\n0: Not selected\..."
162,disability_mobility,"-9998: Missing, non-response\n0: Not selected\..."
163,disability_dressing,"-9998: Missing, non-response\n0: Not selected\..."
164,disability_concentrating,"-9998: Missing, non-response\n0: Not selected\..."
165,disability_none,"-9998: Missing, non-response\n0: Not selected\..."

In [15]:
result = {}
for i, row in df.iterrows():
    name = row['Name']
    value = get_columns_values(row['values'])
    if value:
        value["995"] ="skip logic"
        result[name] = value

In [16]:
import json

In [17]:
result.keys()

dict_keys(['survey_mode', 'is_participant', 'made_trips', 'relationship', 'age', 'employment', 'worker', 'student', 'license', 'vehicle', 'congestion', 'drive_cbd_freq', 'planning_apps', 'job_type', 'industry', 'telework_freq', 'missing_work_location', 'work_mode', 'work_mode_own', 'work_park_location', 'work_park_pay', 'work_vehicle_pass_period', 'work_mode_auto', 'work_mode_bus', 'work_mode_rail', 'work_mode_ferry', 'work_mode_taxi', 'work_mode_bike', 'work_bike_park', 'work_mode_scooter', 'work_scooter_park', 'school_type', 'missing_school_location', 'kid_accompany', 'school_mode', 'school_mode_own', 'school_park_location', 'school_vehicle_pass_period', 'school_mode_auto', 'school_mode_bus', 'school_mode_rail', 'school_mode_ferry', 'school_access', 'school_egress', 'school_mode_taxi', 'school_mode_bike', 'school_bike_park', 'school_mode_scooter', 'school_scooter_park', 'bike_freq', 'bike_stolen', 'bike_purpose_errands', 'bike_purpose_transit', 'bike_purpose_recreation', 'bike_purpose_commute', 'bike_purpose_appointment', 'bike_purpose_other', 'no_bike_nyc_bike_lanes', 'no_bike_nyc_paving', 'no_bike_nyc_storage', 'no_bike_nyc_long_trips', 'no_bike_nyc_showers', 'no_bike_nyc_modes', 'no_bike_nyc_unable', 'no_bike_nyc_other', 'bike_share_citi_bike', 'bike_share_jump', 'bike_share_lime', 'bike_share_none', 'bike_share_user', 'citi_bike_freq', 'jump_freq', 'lime_freq', 'no_bike_share_unfamiliar', 'no_bike_share_expensive', 'no_bike_share_neighborhood', 'no_bike_share_stations', 'no_bike_share_personal_bike', 'no_bike_share_docks', 'no_bike_share_uncomfortable', 'no_bike_share_other', 'tnc_use_uber', 'tnc_use_lyft', 'tnc_use_via', 'tnc_use_juno', 'tnc_use_none', 'tnc_user', 'tnc_freq', 'tnc_purpose', 'tnc_mode', 'tnc_mode_auto', 'tnc_mode_taxi', 'tnc_mode_bus', 'tnc_mode_rail', 'tnc_mode_ferry', 'tnc_mode_bike', 'tnc_mode_scooter', 'car_share_zipcar', 'car_share_car2go', 'car_share_enterprise', 'car_share_other', 'car_share_none', 'car_share_user', 'packages', 'packages_distance', 'harassment', 'harassment_trip', 'harassment_time', 'harassment_route', 'harassment_transit', 'harassment_mode', 'harassment_neighborhood', 'harassment_private_car', 'harassment_alone', 'harassment_attention', 'harassment_defense', 'harassment_other', 'harassment_none', 'gender', 'education', 'english_proficiency', 'ethnicity', 'race_american_indian', 'race_asian', 'race_black', 'race_native_hawaiian', 'race_white', 'race_other', 'disability_hearing', 'disability_seeing', 'disability_walking', 'disability_mobility', 'disability_dressing', 'disability_concentrating', 'disability_none'])

In [18]:
with open("data/columns_encoding.json","w") as file:
    json.dump(result,file)